*{
	margin: 0px;
	padding: 0px;
	/* outline: 1px solid red; */
}
.header{
	background-image: url(./images/beimen.jpg);
	width: 100%;
	height: 80vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}


.header_title{
	font-family: Arial;
	font-size: 60px;
	text-shadow:0px 3px 5px black;
	color: white;
	padding-top: 5%;
	text-align: center;
}
@media screen and (max-width:767px ){
	.header_title{
		font-size: 40px;
		padding-top: 15%;
	}	
}
.header_front .letter{ 

  transform-origin: 0 100%;
  display: inline-block;
  line-height: 1em;


}
.logo_font{
	animation: ani02 3s  linear  ;}
	@keyframes ani02{
		0%{ transform: scale(0, 0); }
		50%{transform: scale(0, 0);}
		100%{ transform: scale(1, 1); }	
}

.tour{
	background-color: #eaeaea;
	padding: 5% ;
	color: #1e1f25;
	opacity: 0;

	transition: 1s;
}
.tour>h2{
	font-family: Arial;
	font-size: 40px;
	text-align: center;
	color: #31353e
}
.tour>h4{
	font-family: Roboto;
	font-size: 20px;
	font-weight: 400;
	color: grey;
	text-align: center;
	margin:10px 0px 50px 0px;  
}
.tour_item{
	transform: scale(.3);
	transition:1s;	
	background-color: white;
	box-shadow: 1px 1px 3px grey;
	color:#1e1f25;
	font-family: roboto;
	position: relative;
	text-align: center;
	padding-bottom: 5%;
	margin-bottom: 30px;
}
.tour_day{
	padding: 10px;
	background-color: #41BAAE;
	color: white;
	font-weight: 600;
	border: 2px solid white;
	position: absolute;
	z-index: 5;
	right: 5%;
	top: -5%;

}
.tour_pic_box{
	overflow: hidden;
}
.tour_item img {
	width: 100%;
	transform: scale(1);
	transition: .3s;
}
.tour_item img:hover{
	transform: scale(1.2);	
}
.tour_item h5{
	text-align: center;
	font-family: Roboto;
	font-weight: 900 ;
	font-size: 24px;
	line-height:200%;
	background-color:#6a6f76;
	color: white;
}
.tour_item p{
	padding: 15px 15px;
	font-size: 20px;
	font-family: Roboto;
	opacity: .7;
	text-align: left;
}
@media screen and (max-width: 767px){
	.tour>h2{
		margin-top: 10%;
		font-family:Arial;
		font-size: 30px;
		text-align: center;
		color: #31353e
	}
	.tour_item{
		height: auto;
		padding-bottom:10px;
		margin-bottom:30px; 
	}

}
.private{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color:white;
	position: relative;
	padding: 20% 0;
}
.private_script{
	width: 40%;
	padding-bottom:5% ;
	box-shadow: 1px 1px 10px grey;
	background-color:  #eaeaea;
	text-align: center;
	z-index: 4;	
}

.private_script h2{
	padding: 8% 0px;
	font-family: Arial;
	font-size: 40px;
	color: white;
	text-align: center;
	background-color: #6a6f76;
	display:block;
}
.private_script>p{
	font-family: Roboto;
	font-size: 20px;
	opacity: .7;
	text-align: left;
	margin: 30px 30px 20px 30px;

}
.private_pic01{
	position: absolute;
	top: 28%;
	right: 30%;
	z-index: 3;
	width: 40%;
	box-shadow: -5px -5px 20px white;
	transition: 1s;
}

.private_pic02{
	position: absolute;
	top:35%;
	left: 30%;
	z-index: 2;
	width: 40%;
	transition: 1s;	
}

.private_pic03{
	position: absolute;
	width: 40%;
	top: 30%;
	left: 30%;
	z-index: 2;
	transition: 1s;	
}

@media screen and (max-width: 767px){

	.private{
		padding-top: 10%;
	}
	.private>h2{
		font-family: arial;
		font-size: 30px;
		text-align: center;
		color: #31353e;
		margin-bottom: 5%;
	}
	.private_script h2{
		display:none;
	}
	.private_script{
		width: 100%;
		padding-bottom:5% ;
	}
	.private_pic01,
	.private_pic02,
	.private_pic03{
		position: initial;
		width: 100%;
		height: 100%;

		}
}

#imgView{
  overflow:hidden;
  width:100%;  
  height:65vw;
  position: relative;

}    
#toLeft{
  position: absolute;
  left:0%;
  top:35%;
  width: 0px;
  height: 0px;
  color:white;
  font-size:60px;
  font-weight:bold;
  line-height:50px; 
  z-index:5;
  } 
#toRight{
  position: absolute;
  left:90%;
  top:35%;
  width:0px;
  height:0px;
  color:white;
  font-size:60px;
  font-weight:bold;
  line-height:50px;    
  z-index:5;
}

.bannerImg {
  width: 100%;
  height: 100%;

}
  


.why_wrap{
	background-image: url(./images/why_us.png);
	background-position: center;
	-webkit-background-size: cover;
		background-size: cover;	
}

.why{
	padding: 10% 0px;
	-webkit-background-size: cover;	
	background-size: cover;	
	background-position: center;
}
.why>h2{
	font-family: Arial;
	font-size: 40px;
	text-align: center;
	margin-bottom: 5%;
}
.why_item i{
	font-size: 7vh;
	color: #6a6f76;
}

.why_group{
	display: flex;
	flex-wrap: wrap;
	justify-content:space-around;
}
.why_item{
	transform: scale(.1) rotate(0deg);
	transition: 1s;
	box-sizing: border-box;
	padding: 3%;
	width: 25%;
	background-color:white;
	text-align: center;
	margin-bottom: 2%;
	box-shadow: 3px 3px 5px grey;
}

.why_item>h4{
	margin-top: 3%;
	font-family: roboto;
	font-size: 30px;
	opacity: .7;
}
.why_item>p{
	margin-top: 10%;
	font-family: roboto;
	font-size: 20px;
	opacity:0.7;
}
.why_item:hover{
	background-color: grey;
}
.why_item:hover >h4{
	color: white;
}
.why_item:hover >p{
	color: white;
}
.why_item:hover i{
	color: white;
}

@media screen and (max-width: 767px){
	.why_item{
		width: 100%;
	}
	.why>h2{
	font-family: Arial;
	font-size: 30px;
	text-align: center;
	margin-bottom: 10%;
	}
	.why_item>h4{
	margin-top: 3%;
	font-family: roboto;
	font-size: 26px;
	opacity: .7;
	}
	.why_item>p{
	margin-top: 10%;
	font-family: roboto;
	font-size: 18px;
	opacity:0.7;
	}	
}

.join_us{
	padding:8%; 
	text-align: center;
}
.join_us_con{
	opacity: 0;
	transition: 5s;
}
.join_us>h2{
	font-family: Arial;
	font-size: 40px;
	margin-bottom: 2%;
	text-align: center;
	color: #31353e;
	padding: 2% 0;
}
.join_us p{
	font-family: roboto;
	font-size: 30px;
	opacity: .7;
}
.join_us span{
	font-family: roboto;
	font-size: 30px;
	padding: 1% 0;
	display: block;
}
.join_us .button{
	margin-top:5%; 
}

@media screen and (max-width: 767px){
	.join_us>h2{
		font-family: Arial;
		font-size: 30px;
		margin-bottom: 10%;
		text-align: center;
		color: #31353e;
		padding: 2% 0;

	}
	.join_us p{
		font-family: roboto;
		font-size: 18px;
	}
	.join_us span{
		font-family: roboto;
		font-size: 22px;
		padding: 1% 0;
		display: block;
	}
}

.join_us_bg{
	background-color: white;
	background-image: url(./images/join_us.png);
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position:35% 35%;
	height: 60vh;
}
